go 1.21.0

use ./src

use ./declarations

use ./constants

use ./route_handlers

use ./router

use ./utilities

use ./middleware/logger

use ./middleware/response_header

use ./middleware/middleware_setup
